# System files
*.DS_Store

# Cleanable LaTeX files. When running the clear function, these files are removed. Rendering them useless to track.
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.bak
*.dvi
*.tks		

# Matlab files, especially temporary files *.*~
*.m~

# Image files
*.tif
*.dcm
*.jpg
*.png

# Manuscripts
*.pdf

# Temporary powerpoint files
~*.pptxi

# Any directory called deletethis and its content
**/deletethis**

# MeVisLab autosave files
*.mlab.auto

# Powerpoint temporary files
**/~$*.pptx
*.pptx
# Directories
readings
presentation

# Portable apps or programs
apps/* 

# large data folders
data/Bland*

# Blob3D data file
*.sav