# System files
*.DS_Store

# Cleanable LaTeX files. When running the clear function, these files are removed. Rendering them useless to track.
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.bak
*.dvi

# Matlab files, especially temporary files *.*~
*.m~

# Image files
*.tif
