# System files
*.DS_Store

# Cleanable LaTeX files. When running the clear function, these files are removed. Rendering them useless to track.
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.bak
*.dvi
**.tks		# texmaker session file

# Matlab files, especially temporary files *.*~
*.m~

# Image files
*.tif

# Manuscripts
*.pdf

# Temporary powerpoint files
~*.pptxi

# Directory I shared with Nicola
using Voorn-2013-shared with Nicola/**

# Any directory called deletethis and its content
**/deletethis/**
